<h2>ChatGPT</h2>

<div id="mensajes">
</div>
<input type="text" id="mensaje">
<button id="boton">Enviar</button>



<script>
    console.log("cargo la pagina de chat...")
    const socket = io('/'); // Solo se conecta al nuestro servidor la ruta raiz = index.ts

    socket.emit('confirmacion');

    socket.on('confirmacion', () => { // Esto es para escuchar un evento 
        console.log('Excelente!');
    })

    const inputMenesaje = document.getElementById('mensaje')
/*
    document.getElementById('boton').addEventListener('click', () => {

        socket.emit('buttonClick', {
            dato: 'test'
        })
    })
*/
    document.getElementById('boton').addEventListener('click', () => {
        const mensaje = inputMenesaje.value;
        socket.emit('messegeSent', {
            // mensaje: 'mensaje' // Esta es otra forma
            mensaje
        })
    })

    cosnt contenedor = document.ElementById('mensaje')
    
    socket.on('messegeReceived', (data) => {
        const newP = document.createElement('p');
        newP.innerHTML = `<span>${datos.mensaje}</span>`
        contenedor.append(newP);
    })

    document.getElementById('mensaje').add

   // const socket = io('http:/http://localhost:4200/') Esto seria para conectarse al serv de Ciente 
</script>

<!-- <script src="/assests/chats.js"></script> -->      